.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(3, 29, 68);
  padding: 0.3rem;
  margin-bottom: 2rem;
}
.navtitle {
  color: rgb(244, 243, 238);
  padding: 0;
  margin: 0;
  font-style: normal;
}
