

.centerForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}


.suggestionForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
  }

  .suggestionFieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.lu {
    padding: 10px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li {
    list-style: none;
  }

.imglogo{
    width: 55%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
