header{
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
    position: sticky;
    z-index: 100;
    height: 70px;
    top: 0;
}

.logo {
text-decoration: none;
font-size: 35px;
color: black;

}

.user{
text-decoration: none;
color: black;
display: flex;
}
.logoSesion{
    margin-left: 5px;
}