.buscador{
  width: 40vw;
  border-color: rgb(247, 247, 248);
  color: black;
  background: transparent;
  border: none;
}
#searchBtn{
 border: none;
 background-color: rgba(255, 255, 255, 0);
 width: 20px; 
 height: 20px; 
 background-image: url("../../public/lupa.png"); 
 background-size: cover; 
 cursor: pointer; 
 margin-top: 5px;
 margin-right: 15px;
}

.searchBarContainer{
display: flex;
border: 1px solid #000;
border-radius: 5px;
height: 5vh;
}