
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.user-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(184, 40, 72);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px 0;
}

button:hover {
  background-color: #0056b3;
  border-radius: 5px;
}


.login-google {
background-color: white;
color: black;
padding: 8px;
}

