
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  
}


body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  color: black;
  
}



